[data-component="slideshow"] .slide {
  display: none;
}

.slide { 
  text-align: center;
}

.slide img { 
  max-width: 1000px;
  max-height: 500px;
}

[data-component="slideshow"] .slide.active {
  display: block;
}